.pagination {
  display: flex;
  gap: 1rem;
}


.page-link {
  display: inline-block;
  padding: 0.5rem;
  background-color: $color-dark-green;
  color: $color-black;
  text-decoration: none;
  border-radius: 0.5rem
}