.header {
  background-color: $color-light-green;
}

.header__container {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}


.top-currency {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.top-currency__item {
  padding: 1rem;
  background-color: $color-dark-green;
  border-radius: 100px;
}