.header {
  background-color: $color-light-green;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header__container {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}


.top-currency {
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__wallet {
  display: flex;
  align-items: center;
  margin-right: 10rem;
  cursor: pointer;
}

.top-currency__item {
  padding: 1rem;
  background-color: $color-dark-green;
  border-radius: 100px;
}

.header__wallet-info{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}